<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/index/">Apprisen</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>FINANCIAL CALCULATOR PAGE</h2>
							<a href="/my-link/" method="GET"> CALCULATOR</a>
						</header>
					</div>
				</div>
			</section>

	</body>
</html>
