<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/assets/css/main.css"/>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/index/">Apprisen</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index/">Home</a></li>
					<li><a href="/generic/">Donate</a></li>
					<li><a href="/elements/">Contact Us</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Apprisen</h1>
					<p>We can help you get your finances on track</p>
				</div>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Welcome User,
							You're getting closer to #nodebt!</h2>

				<div id="progressbar">
				  <div>30%</div>
				</div>

					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="/dashboard/" class="icon fa-bar-chart"><span class="label">Icon</span></a>
									<h3>Dashboard</h3>
								</header>
								<p>Visualize your financial status here</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/calculator/" class="icon fa-calculator"><span class="label">Icon</span></a>
									<h3>Financial Calculator</h3>
								</header>
								<p>Track your expenses and record your income to save more and spend less</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/communication/" class="icon fa-comments"><span class="label">Icon</span></a>
									<h3>Communication Portal</h3>
								</header>
								<p>Build a community of support and trust by having peer-to-peer communication integrated online</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/counseling/" class="icon fa-handshake-o"><span class="label">Icon</span></a>
									<h3>Counseling Session</h3>
								</header>
								<p>Summary of counseling session history online or talk to a counselor now</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/whyapprisen/" class="icon fa-heart"><span class="label">Icon</span></a>
									<h3>Why Apprisen?</h3>
								</header>
								<p>Helping individuals build their financial well-being on a virtual platform</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/FAQ/" class="icon fa-question"><span class="label">Icon</span></a>
									<h3>FAQs</h3>
								</header>
								<p>Questions & Answers</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>INVESTING IN YOUR FINANCIAL FREEDOM</h2>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>MEET OUR TEAM</h2>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>"hfowifgeifowbufe<br>vfiqeufvewuifwefiuw<br>fwuefvwiufevfiuwvfuiwfv"</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="/static/images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - Apprisen</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>"hfowifgeifowbufey<br>wvfiqeufvewuifwefiuwvfi<br>fwuefvwiufevfiuwvfuiwfv"</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="/static/images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>Founder - Apprisen</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>"hfowifgeifowbufeywvf<br>vewuifwefiuwvfiuwvfwu<br>wiufevfiuwvfuiwfv"</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="/static/images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>Director - Apprisen</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h4>Social Media</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>
