<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/index/">Apprisen</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<h2>WHY APPRISEN?</h2>
							"I am very grateful to your company for making it possible for me to get my financial situation in order. All the people I have dealt with are very professional and courteous."
							<hr>"I am done with my program and so pleased. I don't think I could have done it without your help."
							<hr>"I was sinking in debt and your service saved me. All I can say is ... thank you."
							<hr>"I wanted to take this opportunity to thank you and your company for helping me and my family with our financial hardship. Your company changed our lives and words cannot express our gratitude."
							<hr>"Wish I had gone to your company years ago!"
							<hr>"I owed about $40,000 and now, five years later, I am one payment away from paying off the whole thing. I just wanted to thank your company for saving my life — financially speaking."
							<hr>"I am very pleased with the extraordinary customer service that has been provided by the employees. I’ll be making my final payment this Friday. It has been a pleasure working with your company. Paying off this debt has been one of my biggest accomplishments (I know…sad but true). Thank you very much."
						</header>
					</div>
				</div>
			</section>

	</body>
</html>
